= simple_form_for [:blogadmin, @post] do |f|
  .col-lg-9
    .form-group
      .row
        .col-lg-6
          = f.input :title, required: false, input_html: {class: "form-control"}
    .form-group
      = f.input :content, as: :ckeditor, input_html: {ckeditor: { height: '400px'}}, required: false

  .col-lg-3
    #category-selector
      .form-group
        .header
          = f.label :categories
        %hr
        = f.association :categories, as: :check_boxes, label: ''

    .form-group
      = f.submit "Publish Post", id: "publish_post", class: "btn btn-primary"
    .form-group
      = f.submit "Save as Draft", id: "save_post", name: "save_as_draft",class: "btn"
