.row-fluid
  = simple_form_for [:blogadmin, @category], class: "form-inline" do |f|
    .col-lg-6
      .form-group
        = f.input :title, input_html: {class: "form-control", width: '300px'}, required: false
      .form-group
        = f.submit "Create New Category", id: "create_category", class: "btn btn-primary"
