.navbar.navbar-inverse
  .container
    .navbar-header
      %a.navbar-brand{href: main_app.root_path}
        = image_tag "logo.png", alt: "BrewTech"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to "Admin Dashboard", admin_root_path if current_user.admin?
        %li
          = link_to "Home", main_app.root_path
        %li
          = link_to "Blog", posts_path
