.row
  .col-lg-2
    .post-date
      %h2
        = post.created_at.to_date.strftime("%d %n %b").upcase
    .post-year
      %h1
        = post.created_at.to_date.strftime("%Y")
    .post-time
      = post.created_at.to_time.strftime("%H:%M%p")
    - if !post.categories.empty?
      .post-categories
        Categories:
        .clearfix
        - post.categories.each do |category|
          = link_to category.title, category_path(category.id)
  .col-lg-10  
    .blog-content
      %h2.center-title
        = link_to post.title, post_path(post.id)
      - unless current_page?(post_path(post.id))
        .truncate-path
          = truncate(post.content, length: 3000, escape: false,separator: '</p>', omission: ' ') { link_to "Continued...", post_path(post.id), class: "clearfix"}
      =  post.content.html_safe if current_page?(post_path(post.id))
      .clearfix
      - if current_page?(posts_path) || current_page?(root_path) || current_page?(category_path)
        .clearfix
        = link_to "(#{post.comments.count}) Comment".pluralize, post_path(post.id)
      %hr
      = content_for :show_posts if current_page?(post_path(post.id))
