- content_for :show_posts do
  .row
    .col-lg-12
      %ol.comments
        = render @comments
      = will_paginate @comments
  = simple_form_for @comment do |f|
    .row
      .col-lg-6
        .create-comment
          .form-group
            = f.label "Add a new Comment"
            = f.input :text, input_html: {class: "form-control", rows: "5"}, required: false, label: false 
            = f.hidden_field :post_id, value: @post.id
          = f.submit "Add Comment", class: "btn btn-default"
= render @post
