= link_to "Create New Category", new_admin_category_path, class: "btn btn-primary"
%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Created
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.title
        %td= category.created_at.strftime('%H:%M%p | %B %d, %Y ')
        /%td= link_to "Edit Category", edit_admin_category_path(category.id), class: "btn"
        %td= link_to "Delete", admin_category_path(category.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}
