%table.table.table-hover
  %thead
    %tr
      %th Text
      %th Created
      %th Post
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.text
        %td= comment.created_at.strftime('%H:%M%p | %B %d, %Y ')
        %td= comment.post.title
        /%td= link_to "Edit Category", edit_blogadmin_category_path(category.id), class: "btn"
        %td= link_to "Delete", blogadmin_comment_path(comment.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}
    = will_paginate @comments
