!!!
%html
  %head
    %title Blog 
    = stylesheet_link_tag "blog/application", media: "all", :"data-turbolinks-track" => true
    = javascript_include_tag "blog/application", :"data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
  %body
    = render "shared/header"
    .container
      .col-lg-offset-2.col-lg-8
        #main
          = render "blog/shared/flashes"
          = yield
