!!!
%html
  %head
    %title Admin Dashboard
    = stylesheet_link_tag "blog/application", media: "all", :"data-turbolinks-track" => true
    = javascript_include_tag "blog/application", :"data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
  %body
    = render "shared/header"
    .container
      #dashboard
      .col-lg-2
        %ul.nav.nav-list#dashboard-nav
          %li.nav-header  Admin Pages
          %li{class: "#{'active' if current_page?(blogadmin_posts_path)}"}
            %a{href: blogadmin_posts_path} Posts
          %li{class: "#{'active' if current_page?(blogadmin_categories_path)}"}
            %a{href: blogadmin_categories_path} Categories
          %li{class: "#{'active' if current_page?(blogadmin_comments_path)}"}
            %a{href: blogadmin_comments_path} Comments
      .col-lg-10
        #dashboard-main
          = render "blog/shared/flashes"
          = yield
