= link_to "New Post", new_blogadmin_post_path, class: "btn btn-primary"
%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Created
      %th Published
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.created_at.strftime('%H:%M%p | %B %d, %Y ')
        %td= post.publish
        %td= link_to "Edit Post", edit_blogadmin_post_path(post.id), class: "btn btn-default"
        %td= button_to "Delete", blogadmin_post_path(post.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?" }
    = will_paginate @posts
